<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="body">
  <div class="container">
  <h2 class="title">{{ isEdit ? "Editar Tarea" : "Nueva Tarea" }}</h2>

  <form class="m-3 main-form">
    <label>Tarea</label>
    <input
    class="input"
      type="text"
      [(ngModel)]="task.name"
      name="name"
      placeholder="Nombre de la tarea"
    />

    <label>Categoria</label>
    <div class="select-container">
      <select class="select" [(ngModel)]="task.categoryId" name="categoryId">
      <option value="0">Selecciona una Opción</option>
      @for (c of categories; track c.categoryId) {
        <option [value]="c.categoryId">{{ c.name }}</option>
      }
    </select>
    </div>

    <div class="btn-container">
      <button (click)="save()" class="btn btn-secondary">
        {{ isEdit ? "Actualizar" : "Crear" }}
      </button>
      <button class="btn btn-danger" routerLink="/tasks">Cancelar</button>
    </div>
  </form>
</div>

</body>
</html>