<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="body">
    <div class="container p-1">
      <h2 class="title">Tareas</h2>

      <div class="btn-create-container">
        <button class="btn-create" routerLink="/tasks/new">
          -- Nueva Tarea --
        </button>
      </div>

      @for (t of tasks; track t.taskId) {
        <div class="info-card">
          <h4>Tarea: {{ t.name }}</h4>
          <p><em>Fecha: </em> {{ t.date }}</p>
          <p><b>Categoría: </b> {{ t.categoryName }}</p>

          <div class="btn-container">
            @if (t.taskId) {
              <button
                class="btn btn-secondary"
                [routerLink]="['/tasks/edit', t.taskId]"
              >
                Editar
              </button>
            }
            <button class="btn btn-danger" (click)="delete(t.taskId!)">
              Eliminar
            </button>
          </div>
        </div>
      }
    </div>
  </body>
</html>
